Assets/Kuba[[:space:]]WorkSpace/Pasywny[[:space:]]Mindfullness/Audio/Lektor/*.wav filter=lfs diff=lfs merge=lfs -text
/Assets/Christmas_props/Assets/Textures/Box_1.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Christmas_props/Assets/Textures/Box_2.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Christmas_props/Assets/Textures/Box_3.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Christmas_props/Assets/Textures/Tree_texture.tif filter=lfs diff=lfs merge=lfs -text
/Assets/HIGHLANDS[[:space:]]-[[:space:]]Stylized[[:space:]]Environment/Audio/Highlands[[:space:]]Soundtrack.wav filter=lfs diff=lfs merge=lfs -text
/Assets/HIGHLANDS[[:space:]]-[[:space:]]Stylized[[:space:]]Environment/Audio/Water/Water_3.wav filter=lfs diff=lfs merge=lfs -text
/Assets/HIGHLANDS[[:space:]]-[[:space:]]Stylized[[:space:]]Environment/Demo/Demo.unity filter=lfs diff=lfs merge=lfs -text
/Assets/HIGHLANDS[[:space:]]-[[:space:]]Stylized[[:space:]]Environment/Materials/Forest/Skybox.hdr filter=lfs diff=lfs merge=lfs -text
/Assets/Kuba[[:space:]]WorkSpace/Aparat[[:space:]]Piorkowskiego/Models/DOMEK-DESZ-CALOSC-AO.png filter=lfs diff=lfs merge=lfs -text
/Assets/Kuba[[:space:]]WorkSpace/Aparat[[:space:]]Piorkowskiego/Models/DOMEK-DESZ-CALOSC-DIFF.png filter=lfs diff=lfs merge=lfs -text
/Assets/Marcin_Playground/Textures/Puzzle/PUDELKO-TEKTURA[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
/Assets/Oculus/VR/Editor/Tools/ovr-platform-util.exe filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Christmas/LightingData.asset filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/INTERIOR/Lightmap-0_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/INTERIOR/Lightmap-1_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/INTERIOR/Lightmap-3_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/INTERIOR/Lightmap-4_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/INTERIOR/Lightmap-5_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/ISLAND_DAY/Lightmap-0_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/ISLAND_DAY/Lightmap-1_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/ISLAND_DAY/Lightmap-2_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/ISLAND_DAY/Lightmap-3_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/ISLAND_DAY/Lightmap-4_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/ISLAND_DAY/Lightmap-5_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/ISLAND_DAY/Lightmap-6_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/ISLAND_NIGHT/Lightmap-0_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/ISLAND_NIGHT/Lightmap-1_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/ISLAND_NIGHT/Lightmap-2_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/ISLAND_NIGHT/Lightmap-3_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/ISLAND_NIGHT/Lightmap-4_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/ISLAND_NIGHT/Lightmap-5_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/WYSPA/ISLAND_NIGHT/Lightmap-6_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/StylizedWater2/_Demo/DemoAssets/Models/SW2_BackgroundTerrain.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/WERONIKA/EASTER_ISLAND/Easter_island.png filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/2D/HDRI-SKYBOX/HdrOutdoorSnowMountainsEveningClear001_JPG_18K.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/2D/HDRI-SKYBOX/HdrSkyEvening006_JPG_16K.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/DOMEK-WNETRZE/DOMEK-INTERIOR/BELKI-PIONOWE-ALBEDO.png filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/DOMEK-WNETRZE/DOMEK-INTERIOR/BELKI-PIONOWE-NORMAL.png filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/DOMEK-WNETRZE/DOMEK-INTERIOR/DOMEK-ALBEDO.png filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/DOMEK-WNETRZE/DZBAN/DZBAN-NORMAL.png filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/DOMEK-WNETRZE/LOZKO/KOC-ALBEDO.png filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/DOMEK-WNETRZE/LOZKO/KOCYK.png filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/DOMEK-WNETRZE/STOL-KRZESLA/STOL-KRZESLO_NORMAL.png filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/DOMEK-WNETRZE/ZASLONA/ZASLONY-PATTERN.png filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/OTOCZENIE/GRUNT/ZIEMIA.-BAKED-BEZ-CIENIA.png filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/OTOCZENIE/GRUNT/ZIEMIA.-BAKED-Z-CIENIEM.png filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/OTOCZENIE/GRUNT/ZIEMIA.-BAKED.png filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/OTOCZENIE/SKY/NIEBO-NOCNE2.png filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/OTOCZENIE/TREES/MAIN-TREE/DRZEWO-ZYCIA-2.png filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/OTOCZENIE/TREES/RED-TREE/DRZEWO-CZERWONE-2-AO.png filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/OTOCZENIE/TREES/TEXTURES/LISCIE.psd filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/POSTAC/LISEK-2.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/POSTAC/STARE/LISEK-NOWY.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/POSTAC/STARE/POSTAC1.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/POSTAC/STARE/STARE/POSTAC-135-ANIMATION-TORCIK.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/POSTAC/STARE/STARE/POSTAC-KOBIECA.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/3D/POSTAC/STARE/STARE/POSTAC.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/GRY/MINDFULNESS/JASKINIA/JASKINIA-BAZA.png filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/GRY/MINDFULNESS/OBELISK/OBELISK3[[:space:]]FINAL.png filter=lfs diff=lfs merge=lfs -text
/Assets/WOJTEK/GRY/MINDFULNESS/OBELISK/OBELISKB-FINAL.png filter=lfs diff=lfs merge=lfs -text
/SpatialAuido/Plugins/Win/x64/PicoSpatializer.dll filter=lfs diff=lfs merge=lfs -text
/SpatialAuido/Samples/audio/loop_FOA_48k.wav filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.anim filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
